@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

img,
video {
  max-width: 100%;
}

body {
  background-color: #f2f2f2;
}

body,
a,
input,
button {
  font-family: "Montserrat", sans-serif;
  color: #292835;
}

a:hover {
  color: #e9724c;
  text-decoration: none;
}

li {
  list-style: inside;
}

.rag-logo {
  display: grid;
  place-items: center;
}

h1,
h2,
h3,
h4 {
  font-size: 2em;
  border-bottom: 0.07em solid #e9724c;
  margin-bottom: 0.7em;
  letter-spacing: 2px;
}

main {
  padding-right: 10vw;
  padding-left: 10vw;
}

.banner {
  background-image: url("../media/image/ragnarok-wallpaper-0.jpg");
  height: 42vh;
  background-position-x: center;
  background-position-y: -250px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 14vh;
  border-bottom: 0.05em solid;
  margin-bottom: 2em;
}

.nav {
  list-style-type: square;
  width: 10em;
  height: 3.5em;
  text-align: center;
  display: grid;
  place-items: center;
  border-radius: 1em;
  background: linear-gradient(to bottom, #f2f2f2, #dadada, #c5c5c5);
  box-shadow: 1px 1px 5px #716e85;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  color: inherit;
  transition-duration: 0.1s;
}

.nav-link:hover {
  border-bottom: 0.2em solid;
}

section {
  margin-bottom: 2em;
}

.footer {
  display: flex;
  background-color: #403f4c;
  color: #f2f2f2;
  padding: 1em 2em;
}

.footer .nav {
  background: inherit;
  font-size: 80%;
  margin-bottom: 1.5em;
}

.footer .nav-link {
  color: #f2f2f2;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-equal {
  flex: 1;
}

.justify-between {
  justify-content: space-between;
}

p {
  margin-bottom: 1em;
  padding: 0 0.5em;
}

@media (min-width: 40em) {
  .box {
    width: 21em;
    height: 21em;
    padding: 1.4em;
    background: linear-gradient(to top, #403f4c, #555364, #716e85);
    border-radius: 1em;
    color: #f2f2f2;
    font-size: 90%;
    box-shadow: 1px 1px 5px #716e85;
  }
}

.grid-center {
  display: grid;
  place-items: center;
}

.party {
  width: 70vw;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.color-white {
  color: #f2f2f2;
}

.table {
  width: 10em;
  border-collapse: collapse;
  border: 0.1em solid;
  font-size: 75%;
  text-align: center;
}

td,
th {
  border: 0.1em solid;
}

table tr {
  height: 2em;
}

table td {
  padding: 0.5em 1em;
}

.img-frame {
  width: 20em;
  margin: 0.5em 1em;
  border-radius: 0.5em;
  display: inline-block;
  transition-duration: 0.15s;
  box-shadow: 1px 1px 5px #716e85;
}

.img-frame:hover {
  transform: scale(175%);
  z-index: 10;
}
